.box {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.input {
  width: 500px;
}
.todo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
